{
  "presets": [
    "babel-preset-react",
    ["env", {
      "targets": {
        "browsers": [">1%", "last 4 versions", "not ie < 11", "Firefox ESR"]
      },
      "useBuiltIns": true
    }]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    },
    "production": {
      "plugins": [
        "transform-react-constant-elements"
      ]
    }
  }
}
