@font-face {
  font-family: 'Menomonia';
  src: url('./../src/styles/fonts/menomonia.woff') format('woff'),
       url('./../src/styles/fonts/menomonia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./../src/styles/fonts/opensans-light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./../src/styles/fonts/opensans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./../src/styles/fonts/opensans-semibold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.mapRoot {
  width: 200px;
  height: 100px;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-help {
  cursor: help;
}
